body
{ 
  background-color:white;
  font-family:"lucida grande",tahoma,verdana,arial,sans-serif; 
  font-size:14px;
  text-align:justify;
 }

#mainframe 
{
  margin-top:0px;
  margin-left:auto;
  margin-right:auto;
  margin-bottom:100px;
  width: 800px;  
  background-color:white;
}

#header
{
margin-top:30px;
  margin-left:auto;
  margin-right:auto;
  margin-bottom:60px;
}

#talk-title
{
	margin-top: 0px;
	margin-left: 0px;
}

#talk-name
{
	margin-top: 30px;
}

/***** Headers, text *****/

h1
{ 
  clear:left;
  color:#505050;
  font-size:240%;
  margin-top:0px;
  text-align:center;
}


h2
{ 
  color:#505050;
  font-size:160%;
  text-align:left;
  margin-top: 40px;
  margin-bottom: 10px;
}


h3
{ 
  color:#505050;
  font-size:160%;
  text-align:center;
}

a:link
{
    color:#900000;
    text-decoration:none; 
}

a:active
{
    color:#900000;
    text-decoration:none;  
}

a:visited
{
    color:#900000;
    text-decoration:none;
}

a:hover
{
    text-decoration:underline;
 }

ul
{
  list-style-position:inside;
  padding:0;
  margin-left:0;
}

ul li
{
  padding:0;
  margin:0;
  margin-bottom:1em;
}

ol
{
  list-style-position:inside;
  padding:0;
  margin-left:0;
}

ol li
{
  padding:0;
  margin:0;
  margin-bottom:1em;
}


.flushright {
  text-align:right;
}

.shifted{
    margin-left:1em;
}


/***** Table *****/


.withborder{
  border-collapse:collapse;

}

.withborder th {
  border:solid 1px black;
  text-align:center;
  padding:5px;
}

.withborder td {
  border:solid 1px black;
  padding:5px;
}

.red {
  font-weight:bold;
  color:red;
}


.green {
  font-weight:bold;
  color:green;
}

.blue {
  font-weight:bold;
  color:DarkBlue;
}


.big {
  font-size:150%;
  text-align:center;
}

img{
    border:0;
    margin-left:auto;
    margin-right:auto;

}

.centered{
    text-align:center;
}

.alert {
  font-weight:bold;
  color:#E41B17;
}


